<a href="https://colab.research.google.com/github/davidapr4/Capstone-C23PC749/blob/main/Capstone_C23_PC749_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Packages

In [2]:
import numpy as np
import numpy.ma as ma
import os
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import tabulate
# from recsysNN_utils import *
pd.set_option("display.precision", 1)

###Data Preparation

In [3]:
#Storing each datasets into variable
rating = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Capstone/tourism_rating.csv')
place = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Capstone/tourism_with_id.csv')
user = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Capstone/user.csv')

#####Place Data

In [4]:
place = place.drop(['Unnamed: 11','Unnamed: 12','Time_Minutes'],axis=1)
place.head(20)

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Coordinate,Lat,Long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.2,106.8
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.1,106.8
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.1,106.8
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.3,106.9
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,"{'lat': -6.12419, 'lng': 106.839134}",-6.1,106.8
5,6,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol merupakan sebuah objek...,Taman Hiburan,Jakarta,25000,4.5,"{'lat': -6.117333200000001, 'lng': 106.8579951}",-6.1,106.9
6,7,Kebun Binatang Ragunan,Kebun Binatang Ragunan adalah sebuah kebun bin...,Cagar Alam,Jakarta,4000,4.5,"{'lat': -6.3124593, 'lng': 106.8201865}",-6.3,106.8
7,8,Ocean Ecopark,Ocean Ecopark Salah satu zona rekreasi Ancol y...,Taman Hiburan,Jakarta,180000,4.0,"{'lat': -6.125801699999999, 'lng': 106.8363249}",-6.1,106.8
8,9,Pelabuhan Marina,Pelabuhan Marina Ancol berada di kawasan Taman...,Bahari,Jakarta,175000,4.4,"{'lat': 1.07888, 'lng': 103.931398}",1.1,103.9
9,10,Pulau Tidung,Pulau Tidung adalah salah satu kelurahan di ke...,Bahari,Jakarta,150000,4.5,"{'lat': -5.803205300000001, 'lng': 106.5237907}",-5.8,106.5
10,11,Pulau Bidadari,Pulau Bidadari merupakan salah satu resor di K...,Bahari,Jakarta,5000,4.6,"{'lat': -6.035832999999999, 'lng': 106.746944}",-6.0,106.7
11,12,Pulau Pari,Pulau Pari adalah sebuah pulau yang terletak d...,Bahari,Jakarta,150000,4.0,"{'lat': -5.9074328, 'lng': 106.5863989}",-5.9,106.6
12,13,Pulau Pramuka,Pulau Pramuka merupakan salah satu pulau yang ...,Bahari,Jakarta,5000,4.2,"{'lat': -5.745962, 'lng': 106.6136577}",-5.7,106.6
13,14,Pulau Pelangi,Pulau Pelangi adalah sebuah pulau yang terleta...,Bahari,Jakarta,900000,4.8,"{'lat': -5.587055, 'lng': 106.5885}",-5.6,106.6
14,15,Pasar Seni,Pasar Seni merupakan Pusat kerajinan dan kesen...,Pusat Perbelanjaan,Jakarta,0,4.4,"{'lat': -6.1766868, 'lng': 106.8417666}",-6.2,106.8
15,16,Jembatan Kota Intan,Jembatan Kota Intan adalah jembatan tertua di ...,Budaya,Jakarta,0,4.3,"{'lat': -6.1314572, 'lng': 106.8106169}",-6.1,106.8
16,17,Museum Fatahillah,Museum Fatahillah memiliki nama resmi Museum S...,Budaya,Jakarta,5000,4.4,"{'lat': -6.136448899999999, 'lng': 106.8130661}",-6.1,106.8
17,18,Museum Bank Indonesia,Museum Bank Indonesia adalah sebuah museum di ...,Budaya,Jakarta,2000,4.7,"{'lat': -6.137127, 'lng': 106.813005}",-6.1,106.8
18,19,Kidzania,KidZania adalah sebuah waralaba swasta Meksiko...,Taman Hiburan,Jakarta,185000,4.6,"{'lat': -6.225073499999999, 'lng': 106.8097144}",-6.2,106.8
19,20,Museum Taman Prasasti,Museum Taman Prasasti adalah sebuah museum cag...,Budaya,Jakarta,2000,4.5,"{'lat': -6.172224099999998, 'lng': 106.8189695}",-6.2,106.8

In [5]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place_Id     437 non-null    int64
 1   Place_Name   437 non-null    object
 2   Description  437 non-null    object
 3   Category     437 non-null    object
 4   City         437 non-null    object
 5   Price        437 non-null    int64
 6   Rating       437 non-null    float64
 7   Coordinate   437 non-null    object
 8   Lat          437 non-null    float64
 9   Long         437 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 34.3+ KB

#####User Data

In [6]:
user.head()

   User_Id                   Location  Age
0        1      Semarang, Jawa Tengah   20
1        2         Bekasi, Jawa Barat   21
2        3        Cirebon, Jawa Barat   23
3        4         Bekasi, Jawa Barat   21
4        5  Lampung, Sumatera Selatan   20

In [7]:
user.info()
user.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_Id   300 non-null    int64
 1   Location  300 non-null    object
 2   Age       300 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

(300, 3)

#####Training Data

In [41]:
place_features = place[['Category', 'City', 'Price', 'Rating']]
# Perform one-hot encoding for categorical columns
place_categorical_cols = ['Category', 'City']  # List of categorical column names
place_features_encoded = pd.get_dummies(place_features, columns=place_categorical_cols)
place_train, place_test = train_test_split(place_features_encoded, train_size=0.80, shuffle=True, random_state=1)


user_features = user[['Location', 'Age']]
# Perform one-hot encoding for categorical columns
user_categorical_cols = ['Location']  # List of categorical column names
user_features_encoded = pd.get_dummies(user_features, columns=user_categorical_cols)
user_train, user_test = train_test_split(user_features_encoded, train_size=0.80, shuffle=True, random_state=1)


# Extract ratings as target variable
y_train = place_train['Rating'].values.reshape(-1, 1)
y_train, y_test = train_test_split(y_train, train_size=0.80, shuffle=True, random_state=1)

 The categorical columns in the place_train('category' and 'city') and user_train('location') dataset are encoded using one-hot encoding with pd.get_dummies(). This creates new columns for each unique value in the categorical columns, representing them as binary features. After encoding, the resulting dataset can be passed to the StandardScaler for feature scaling.

In [42]:
num_user_features = user_train.shape[1]
num_place_features = place_train.shape[1]
u_s = 0  # Assuming all columns in the user_train dataset are used for training
i_s = 0  # Assuming all columns in the place_train dataset are used for training
print(f"num_user_features: {num_user_features}")
print(f"num_place_features: {num_place_features}")
print(f"u_s: {u_s}")
print(f"i_s: {i_s}")

num_user_features: 29
num_place_features: 13
u_s: 0
i_s: 0

In [43]:
# Perform feature scaling
scaler = StandardScaler()
place_train = scaler.fit_transform(place_train)
user_train = scaler.fit_transform(user_train)
y_train = scaler.fit_transform(y_train)

# Print the shapes of the resulting datasets
print(f"place_train shape: {place_train.shape}")
print(f"user_train shape: {user_train.shape}")
print(f"y_train shape: {y_train.shape}")

place_train shape: (349, 13)
user_train shape: (240, 29)
y_train shape: (279, 1)

In [44]:
print(f"place/item training data shape: {place.shape}")
print(f"place/item test data shape: {place_test.shape}")

place/item training data shape: (437, 10)
place/item test data shape: (88, 13)

In [45]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
  tf.keras.layers.Dense(256, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(num_outputs)
    ### END CODE HERE ###  
])

item_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
  tf.keras.layers.Dense(256, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(num_outputs)
    ### END CODE HERE ###  
])

# create the user input and point to the base network
input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

# create the item input and point to the base network
input_item = tf.keras.layers.Input(shape=(num_place_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

# compute the dot product of the two vectors vu and vm
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# specify the inputs and output of the model
model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_7 (InputLayer)           [(None, 29)]         0           []

 input_8 (InputLayer)           [(None, 13)]         0           []

 sequential_6 (Sequential)      (None, 32)           44704       ['input_7[0][0]']

 sequential_7 (Sequential)      (None, 32)           40608       ['input_8[0][0]']

 tf.math.l2_normalize_6 (TFOpLa  (None, 32)          0           ['sequential_6[0][0]']
 mbda)

 tf.math.l2_normalize_7 (TFOpLa  (None, 32)          0           ['sequential_7[0][0]']
 mbda)

 dot_3 (Dot)                    (None, 1)            0           ['tf.math.l2_normalize_6[0][0]',
                                                                  'tf.math.l2_normalize_7[0][0]']

==================================================================================================
Total params: 85,312
Trainable params: 85,312
Non-trainable params: 0
__________________________________________________________________________________________________

In [46]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [58]:
print(place_train.shape)

(240, 13)

In [59]:
model.fit([user_train, place_train], y_train, epochs=30)

Epoch 1/30
8/8 [==============================] - 0s 15ms/step - loss: 0.1618
Epoch 2/30
8/8 [==============================] - 0s 8ms/step - loss: 0.1616
Epoch 3/30
8/8 [==============================] - 0s 6ms/step - loss: 0.1611
Epoch 4/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1614
Epoch 5/30
8/8 [==============================] - 0s 6ms/step - loss: 0.1614
Epoch 6/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1618
Epoch 7/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1618
Epoch 8/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1619
Epoch 9/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1619
Epoch 10/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1624
Epoch 11/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1622
Epoch 12/30
8/8 [==============================] - 0s 9ms/step - loss: 0.1625
Epoch 13/30
8/8 [==============================] - 0s 6ms/step - loss: 0.1618
Epoch 14/30
8/8 [==============================] - 0s 8ms/step - loss: 0.1613
Epoch 15/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1613
Epoch 16/30
8/8 [==============================] - 0s 6ms/step - loss: 0.1612
Epoch 17/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1611
Epoch 18/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1612
Epoch 19/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1614
Epoch 20/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1619
Epoch 21/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1621
Epoch 22/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1618
Epoch 23/30
8/8 [==============================] - 0s 7ms/step - loss: 0.1620
Epoch 24/30
8/8 [==============================] - 0s 3ms/step - loss: 0.1619
Epoch 25/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1616
Epoch 26/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1618
Epoch 27/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1618
Epoch 28/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1615
Epoch 29/30
8/8 [==============================] - 0s 3ms/step - loss: 0.1611
Epoch 30/30
8/8 [==============================] - 0s 4ms/step - loss: 0.1611

In [61]:
tf.random.set_seed(1)
model.evaluate([user_test, place_test], y_test)

2/2 [==============================] - 0s 9ms/step - loss: 20.4490

20.448993682861328